* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    height: 50px;
    width: 100vw;
    position: fixed;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
    font-size: 24px;
    color: #F9FAF8;
    width: 100%;
    margin-left: 58px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2 1 0;
    width: 100%;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
}

header ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #E5E7EB;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

main section {
    flex: 1 1 auto;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1F2937;
    padding: 160px 100px 100px 100px;
}

.hero-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    text-wrap: wrap;
}


.hero-texts h1 {
    font-size: 48px;
    font-weight:1000;
    color: #F9FAF8;
    line-height: 1.5;
}

.hero-texts p {
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
    line-height: 1.5;  
}

.hero-texts button {
    background-color: #3992F6;
    padding: 8px 30px;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 10px;
}

.image-holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hero .image-holder div {
    background-color: #E5E7EB;
    height: 200px;
    width: 400px;
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    /* border: 1px solid black; */
}

.info.section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info.section .grid-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 60px;
}

.info.section .grid-card .card-holder {
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 50px;
    width: 150px;
    text-wrap: wrap;
}

.info.section .grid-card .card-holder .cards {
    border: 5px solid #3992F6;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    border-radius: 15px;
}

.info.section .grid-card .card-holder p {
    margin-top: 5px;
}

.qoutes.section {
    padding: 100px;
    /* border: 1px solid black; */
    background-color: #E5E7EB;
}

.qoutes.section .qoute {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    margin: 0 auto;
    width: 60vw;
}

.qoutes.section .quote-author {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 900;
    float: right;
    margin-right: 15vw;
}

.action.section {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action.section .action-holder {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 70vw;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    align-items: center;
    flex-direction: row;
    border-radius: 12px;
    text-wrap: wrap;
}

.action-holder div > p:first-child {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.action-holder div > p:nth-child(2) {
    font-size: 18px;
    font-weight: 200;
}

.action button {
    background-color: #3882F6;
    padding: 8px 30px;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid #F9FAF8;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 50px;
    font-size: 18px;
}